<!-- Kontakt Template -->
<h2>Fragen? Schreiben Sie uns!</h2>
<form action="/contact" method="post">

  <label for="POST-name">Name:</label>
  <input id="POST-name" type="text" name="name"><br>

  <label for="POST-mail">E-Mail:</label>
  <input id="POST-mail" type="text" name="email"><br>

  <label for="POST-message">Nachricht:</label><br>
  <textarea id="POST-message" name="message"></textarea><br>

  <input type="submit" value="Absenden">
</form>
