<!DOCTYPE html>
<html>
<head>
  <title>Ueb07Webanw</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="author" content="Alexander Lüdke" />
  <meta data-app-slug="711-fluffy-sheep" />
</head>
<body>

<%= yield %>

</body>
</html>
