<!-- Impressum Template -->
<address>
  <p><strong>Unsere Adresse</strong><br>
    Adress: Wilhelminenhofstra&szlig;e 75A,<br>
    12459 Berlin<br>
    <!-- Hier wird eine zusätzliche Anwendung gestartet, die Telefonnummer
    anzuruft (Mobil) -->
    <a href="tel:03050190">3050190</a></p>
</address>
